@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}



/* DASHBOARD */
#estasik{
  background-image: url('./background.png');
  background-size: cover;
}
/* DASHBOARD */

html{
  scroll-behavior: smooth;
}

#more{
  background-image: url('./Images/bg2.png');
  background-size: cover;
}

.title{
  font-family:"Philosopher", sans-serif;
}






/* section {
  height: 95vh;
  border: 1px black solid;
}

.image {
  height: 95vh;

}

div {
  border: 1px red solid;
}

*/
.line {
  border: 1px #137FB8 solid;
  width: 20%;

}